<!-- Delete Category Modal -->
<div class="modal fade" id="deletePropertyTaxCategoryModal" tabindex="-1" aria-labelledby="deletePropertyTaxCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePropertyTaxCategoryModalLabel">Delete Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="categoryToDeleteId" value="">
                <p>Are you sure you want to delete the category "<span id="deleteCategoryName"></span>"?</p>
                <p class="text-danger">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteCategoryBtn">Delete</button>
            </div>
        </div>
    </div>
</div>
